.btn {
   font-weight: 600;
   transition: .5s;
}

.btn-primary,.btn-secondary{
   border: none;
   border-radius: 15px;
}
:where(.btn-primary,.btn-secondary):hover{
   border-radius: 0;
}
.btn-primary{
   background-color: var(--color-primary) !important;
}
.btn-secondary{
   background-color: var(--color-sky) !important;
}
.btn.btn-primary,
.btn.btn-secondary {
   color: #FFFFFF;
}

.btn-square {
   width: 38px;
   height: 38px;
}

.btn-sm-square {
   width: 32px;
   height: 32px;
}

.btn-lg-square {
   width: 48px;
   height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: normal;
}

.btn-slide {
   position: relative;
   display: inline-flex;
   justify-content: start;
   align-items: center;
   overflow: hidden;
}

.btn-slide div,
.btn-slide span{
   display: inline-flex;
   align-items: center;
   background-color: var(--color-primary);
   border-radius: 0 35px 35px 0;
   height: 40px;
   padding: 0px 10px;
   transition: .5s ease-in-out;
}

.btn-slide span{
   position: relative;
   left: -100%;
   color: #FFFFFF;
   z-index: -1;

}
.btn-slide:hover div{
   border-radius: 0;
}
.btn-slide:hover span{
   position: relative;
   display: inline-flex;
   padding-left: 10px;
   left: 0;
}
.btn-slide:hover div,
.btn-slide:hover span{
   background: var(--color-sky);
}

.btn-slide .link-social{
   width: 140px;
}
.btn-slide .link-social a{
   padding: 8px;
   cursor: pointer !important;
}

